extends layout

block content
  div.content.clearfix

    section.left
      h1= title
      p.subtitle= collectie.beschrijvingNl
      
      
    section.middle#pictureFrame
    
      figure.pictureFrame.visible
        span(data-picture, data-alt='#{collectie.foto.altTextNl}')
          span(data-src='/images/320/#{collectie.foto.src}')
          span(data-src='/images/480/#{collectie.foto.src}', data-media="(min-width: 960px)")
          span(data-src='/images/640/#{collectie.foto.src}', data-media="(min-width: 1440px)")
          //[if (lt IE 9) & (!IEMobile)]><!
            span(data-src='/images/320/#{collectie.foto.src}')
          //<![endif]
          noscript
            img(src='/images/320/#{collectie.foto.src}', alt='#{collectie.foto.altTextNl}')
        figcaption= collectie.foto.captionNl
    
      each sieraad in collectie.sieraden
        - var urlSeg = sieraad.url.split('/');
        figure.hidden(id='#{urlSeg[3]}')
          span(data-picture, data-alt='#{sieraad.foto.altTextNl}')
            span(data-src='/images/320/#{sieraad.foto.src}')
            span(data-src='/images/480/#{sieraad.foto.src}', data-media="(min-width: 960px)")
            span(data-src='/images/640/#{sieraad.foto.src}', data-media="(min-width: 1440px)")
            //[if (lt IE 9) & (!IEMobile)]><!
              span(data-src='/images/320/#{sieraad.foto.src}')
            //<![endif]
            noscript
              img(src='/images/320/#{sieraad.foto.src}', alt='#{sieraad.foto.altTextNl}')
          figcaption= sieraad.foto.captionNl

    section.right
      each sieraad in collectie.sieraden
        - var urlSeg = sieraad.url.split('/');
        
        figure.grid
          a(href='##{urlSeg[3]}')
            span(data-picture, data-alt='#{sieraad.foto.altTextNl}')
              span(data-src='/images/96/#{sieraad.foto.src}')
              span(data-src='/images/144/#{sieraad.foto.src}', data-media="(min-width: 960px)")
              span(data-src='/images/192/#{sieraad.foto.src}', data-media="(min-width: 1440px)")
              //[if (lt IE 9) & (!IEMobile)]><!
                 span(data-src='/images/96/#{sieraad.foto.src}')
              //<![endif]
              noscript
                img(src='/images/96/#{sieraad.foto.src}', alt='#{sieraad.foto.altTextNl}')
