p.to-top
  a.icon.top(href='#top')
hr
footer#footer
  nav
    a.main-nav(href='/femke') Femke
    a.main-nav(href='/sieraden') sieraden
    a.main-nav(href='/galeries') galeries
    a.main-nav(href='/cursussen') cursussen
    //a.main-nav(href='/blog') blog
    a.main-nav(href='/contact') contact
    div.social
      a.social-nav.icon.google(href='https://m.google.com/app/plus/x/?v=compose&content=http://atelierfemkeboschker.nl#{url}', title='Deel met Google Plus', target='_blank')
      a.social-nav.icon.pinterest(href='http://pinterest.com/pin/create/button/?url=http://atelierfemkeboschker.nl#{url}&media=&description=#{title}', title='Deel met Pinterest', target='_blank')
      a.social-nav.icon.facebook(href='http://www.facebook.com/sharer.php?u=http://atelierfemkeboschker.nl#{url}&t=#{title}', title='Deel met Facebook', target='_blank')
      a.social-nav.icon.twitter(href='http://twitter.com/home?status=http://atelierfemkeboschker.nl#{url}', title='Deel met Twitter', target='_blank')
      a.legal-nav(href='voorwaarden-en-intellectueel-eigendom') jur
      a.legal-nav(href='/humans.txt') col
      a.util-nav(href='/en#{url}') En