extends layout

block content
  div.content.clearfix
    section.left
      h1 galeries
      p.subtitle Op dit moment is mijn werk te bezichtigen en te koop bij de volgende galeries:
    section.middleAndRight
        - console.log(galeries)
        each galerie in galeries
          .grid
            h3= galerie.naam
            - var adres = galerie.adres;
            - var adresAlt = galerie.adres_alt;
            .address
              | #{adres.straatnaam} &nbsp; #{adres.huisnummer}
              unless adres.huisnummerToevoeging === ""
                 |&nbsp; #{adres.huisnummerToevoeging}
              br
              | #{adres.postcode} &nbsp; #{adres.plaatsnaam}
            unless adresAlt === undefined || adresAlt === "" 
                .address
                | #{adres.straatnaam} &nbsp; #{adres.huisnummer} &nbsp; #{adres.huisnummerToevoeging}
                br
                | #{adres.postcode} &nbsp; #{adres.plaatsnaam}
            if galerie.url.length > 0
              br
              a(href=#{galerie.url})= String(galerie.url).slice(7);
            
        
      