extends layout

block content
  div.content.clearfix
    section.left
      p.subtitle Eigenzinnige sieraden met een warme uitstraling en een bepaalde mate van eenvoud
    section.middle
      div.swipe-container
        ul#js-swiper.swipe-list
            each sieraad in sieraden
                li.swipe-item
                    - var urlSeg = sieraad.url.split('/');
                    figure
                      a(href='/sieraden/#{urlSeg[2]}##{urlSeg[3]}')
                        span(data-picture, data-alt='#{sieraad.foto.altTextNl}')
                          span(data-src='/images/320/#{sieraad.foto.src}')
                          span(data-src='/images/480/#{sieraad.foto.src}', data-media="(min-width: 960px)")
                          span(data-src='/images/640/#{sieraad.foto.src}', data-media="(min-width: 1440px)")
                          //if (lt IE 9) & (!IEMobile)
                             span(data-src='/images/480/#{sieraad.foto.src}')
                          noscript
                            img(src='/images/480/#{sieraad.foto.src}', alt='#{sieraad.foto.altTextNl}')

    section.right
      //h1 actueel


block script
    script
        (function () {
            var slider = require('fluid-slider');
            var slideEl = document.getElementById('js-swiper');
            var breakpointItems = {
                0: 1,
                500: 2,
                800: 3,
                1200: 4
            };
            if (slideEl) {
                slider(slideEl, {breakpointItems: breakpointItems}).swiper.play();
            }
        } ());
