extends layout

block content
  div.content.clearfix
    section.left
      h1= sieraad.titelNl
      p.subtitle= sieraad.beschrijvingNl
    section.middle
      figure
        span(data-picture, data-alt='#{image.altTextNl}')  
          span(data-src='images/320/#{image.src}')
          span(data-src='images/480/#{image.src}', data-media="(min-width: 960px)")
          span(data-src='images/640/#{image.src}', data-media="(min-width: 1440px)")
          //[if (lt IE 9) & (!IEMobile)]
            span(data-src='images/320/#{image.src}')
          //[endif]
          noscript
            img(src='images/320/#{image.src}', alt='#{image.altTextNl}')
        figcaption= image.captionNl
    section.right
      p gemaakt op #{sieraad.gemaaktOp}
      p materialen #{sieraad.materialenNl}
      if sieraad.teKoop
        p Het sieraad is te koop bij #{sieraad.verkoopadres}